build --cxxopt="-std=c++20"


build:release --cxxopt="-O3"
build:release --cxxopt="-Weffc++"

build:test --cxxopt="-O0"
build:test --cxxopt="-g"

build --cxxopt="-DNDEBUG"
build --cxxopt="-fconstexpr-depth=256"
build --cxxopt="-frtti"
build --cxxopt="-fsized-deallocation"
build --cxxopt="-fstrict-enums"
build --cxxopt="-ftemplate-depth=256"
build --cxxopt="-Wctor-dtor-privacy"
build --cxxopt="-Wdelete-non-virtual-dtor"
build --cxxopt="-Wdeprecated-copy"
build --cxxopt="-Wnoexcept-type"
build --cxxopt="-Wnon-virtual-dtor"
build --cxxopt="-Wreorder"
build --cxxopt="-Wrange-loop-construct"
build --cxxopt="-Wold-style-cast"
build --cxxopt="-Woverloaded-virtual"
build --cxxopt="-Wsign-promo"
build --cxxopt="-Wmismatched-new-delete"
build --cxxopt="-Wmismatched-tags"
build --cxxopt="-Wno-vexing-parse"
build:release --cxxopt="-Wzero-as-null-pointer-constant"
build --cxxopt="-Wextra-semi"
build --cxxopt="-Wno-inaccessible-base"
build --cxxopt="-Wsuggest-override"
build --cxxopt="-Wconversion-null"
build --cxxopt="-fdiagnostics-color"
build --cxxopt="-fdiagnostics-parseable-fixits"
build --cxxopt="-Wfatal-errors"
build --cxxopt="-Wpedantic"
build --cxxopt="-pedantic-errors"
build --cxxopt="-Wall"
build --cxxopt="-Wextra"
build --cxxopt="-Wchar-subscripts"
build --cxxopt="-Wnull-dereference"
build --cxxopt="-Wdouble-promotion"
build --cxxopt="-Wformat=2"
build --cxxopt="-Winit-self"
build --cxxopt="-Wimplicit-fallthrough"
build --cxxopt="-Wmisleading-indentation"
build:release --cxxopt="-Wmissing-include-dirs"
build --cxxopt="-Wshift-negative-value"
build:release --cxxopt="-Wswitch"
build:release --cxxopt="-Wswitch-default"
build:release --cxxopt="-Wswitch-enum"
build --cxxopt="-Wunused"
build --cxxopt="-Wuninitialized"
build:release --cxxopt="-Wfloat-equal"
build --cxxopt="-Wundef"
build --cxxopt="-Wcast-qual"
build --cxxopt="-Wcast-align"
build:release --cxxopt="-Wconversion"
build --cxxopt="-Wsign-conversion"
build --cxxopt="-Wpacked"
build --cxxopt="-Wredundant-decls"
build --cxxopt="-Wvla"
build --cxxopt="-fno-sanitize=all"
